<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="eventHubconnString" connectionString="Server=127.0.0.1;Port=5432;Database=EventHub;User Id=postgres;Password=100998"/>
  </connectionStrings>
</configuration>
<!--
<doc>
    <assembly>
        <name>EventHub</name>
    </assembly>
    <members>
    </members>
</doc>
-->
